<div class="container">
    <main class="form-signin w-100 m-auto">
        <form action="/change_password_request", method="post">
          <!-- We add an extra input field that helps with csrf authentication -->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          
          <h1 class="h3 mb-3 fw-normal">Change Password</h1>
  
          <style>
            .form-floating{
              margin-top: 5px;
              margin-bottom: 5px;
            }
          </style>
  
          <% if(change_password_error_msg != null){ %>
            <div class="alert alert-danger" role="alert">
              <%=change_password_error_msg%>
            </div>
            <% } %>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="current_password" placeholder="Password">
                <label for="floatingPassword">Current Password</label>
            </div>
            
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="new_password" placeholder="Password">
                <label for="floatingPassword">New Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="confirm_password" name="confirm_new_password" placeholder="Password">
                <label for="floatingPassword">Confirm New Password</label>
            </div>         
                
          <input class="w-100 btn btn-lg btn-primary" type="submit">
        </form>
      </main>
  </div>